* {
	box-sizing: border-box;
	margin: 0;
}
body {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #222;
	min-height: 100vh;
	font-family: 'Poppins', sans-serif;
}
.container {
	position: relative;
	width: 1000px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 20px;
}
.card {
	position: relative;
	display: flex;
	height: 250px;
	width: 45%;
	margin-top: 30px;
	margin-bottom: 30px;
	background-color: #fff;
}
.imgBox {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #333;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	transition: .5s ease-in-out;
	z-index: 1;
}
.card:hover .imgBox {
	width: 150px;
	height: 150px;
	left: -75px;
	top: calc(50% - 75px);
	background-color: #ff0057;
}
.imgBox:before {
	content: attr(data-text);
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
	font-size: 6em;
	color: rgba(255, 255, 255, .05);
	font-weight: 700;
}
.icons {
	max-width: 100px;
	transition: .5s ease-in-out;
}
.card:hover .imgBox .icons {
	max-width: 75px;
}
.content {
	position: absolute;
	right: 0;
	width: calc(100% - 75px);
	height: 100%;
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.content h3 {
	margin-bottom: 5px;
	font-size: 24px;
}
.content a {
	display: inline-block;
	margin-top: 10px;
	padding: 5px 10px;
	background-color: #333;
	text-decoration: none;
	color: #fff;
}
@media (max-width: 992px) {
	.container {
		width: 100%;
		flex-direction: column;
		align-items: center;
	}
	.card {
		width: 400px;
	}
}

@media (max-width: 768px) {
	.card {
		max-width: 300px;
		height: auto;
		flex-direction: column;
	}
	.imgBox {
		position: relative;
	}
	.imgBox,
	.card:hover .imgBox {
		width: 100%;
		height: 200px;
		left: 0;
	}
	.icons,
	.card:hover .imgBox .icons {
		max-width: 100px;
	}
	.content {
		position: relative;
		width: 100%;
	}
}